body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0b0f19;
  color: white;
  text-align: center;
  padding: 0;
}

header {
  margin-top: 30px;
}

h1 {
  font-size: 32px;
  color: #38bdf8;
  font-weight: 700;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 30px;
}

form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 90%;
  max-width: 750px;
}

input {
  padding: 12px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #38bdf8;
  background: #111827;
  color: white;
}

button {
  padding: 12px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.result-card {
  margin: 30px auto;
  width: 90%;
  max-width: 650px;
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.08);
}

.safe { border-left: 6px solid #22c55e; }
.medium { border-left: 6px solid #eab308; }
.high { border-left: 6px solid #f97316; }
.danger { border-left: 6px solid #ef4444; }

footer {
  margin-top: 40px;
  padding: 10px;
  opacity: 0.7;
}

.social a {
  margin: 0 10px;
  color: #38bdf8;
  text-decoration: none;
}
