body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0a0f1c;
  color: white;
  text-align: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 25px auto 0;
}

.profile-logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #38bdf8;
  cursor: pointer;
}

h1 {
  color: #38bdf8;
  font-size: 30px;
  font-weight: 700;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 25px;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

input {
  padding: 12px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #38bdf8;
  background: #111827;
  color: white;
}

button {
  padding: 12px 20px;
  background: #0ea5e9;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(14, 165, 233, 0.6);
}

button:hover {
  background: #38bdf8;
  box-shadow: 0 0 24px rgba(56, 189, 248, 0.9);
  transform: translateY(-2px);
}

.result-card {
  margin: 25px auto;
  width: 90%;
  max-width: 650px;
  padding: 25px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-left: 6px solid #38bdf8;
}

.danger { border-left-color: #ef4444; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #0a0f1c;
  font-size: 14px;
  opacity: 0.7;
}

.social a {
  margin: 0 12px;
  color: #38bdf8;
  text-decoration: none;
  font-size: 18px;
}


.social a {
  margin: 0 10px;
  color: #38bdf8;
  text-decoration: none;
}
.profile-logo {
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0 0 8px #38bdf8);
}

.profile-logo:hover {
  filter: drop-shadow(0 0 14px #38bdf8);
  transform: scale(1.08);
}
